$design-width: 1680px;

/*媒体监听响应式缩放宽度*/
@mixin ajust-width($className) {
  @media screen and (min-width: $design-width) {
    .#{$className} {
      max-width: $design-width;
      padding: 0 100px;
    }
  }

  @media screen and (max-width: $design-width) {
    .#{$className} {
      padding: 0 4vw;
    }
  }
}

@mixin add-border($className, $padding, $border, $border-radius: 0px) {
  .#{$className}::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px - $padding;
    right: 0px - $padding;
    bottom: 0px - $padding;
    left: 0px - $padding;
    border: $border;
    border-radius: $border-radius;
  }
}
